<div class="container">
    <div class="panel panel-default">
        <h3 class="panel-heading text-center">
            LIST STUDENT
        </h3>
        <a [routerLink]="[ '/not-found']">Not Found</a>
        <div class="panel-body">
            <div (click)="showFormCreate()" class="btn btn-success mb-3">
                <i class="fa fa-plus"></i> Create
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>StudentName</th>
                        <th>FName</th>
                        <th>MName</th>
                        <th>ContactNo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of allStudent; let i = index">
                        <td>{{i + 1}}</td>
                        <td> {{ item.StudentName }}</td>
                        <td> {{ item.FName }}</td>
                        <td> {{ item.MName }}</td>
                        <td> {{ item.ContactNo }}</td>
                        <td>
                            <button (click)="showFormUpdate(item.Id)" class="btn"><i class="fa fa-edit text-primary"></i></button>
                            <button (click)="showFormInfor(item.Id)" class="btn"><i class="fa fa-info"></i></button>
                            <button [routerLink]="['/studentdetail/',item.Id]" class="btn btn-link">Show</button>
                            <!-- <button [swal]="deleteSwal" class="btn"><i class="fa fa-trash text-danger"></i></button> -->
                            <button (click)="showalert(item.Id)" class="btn"><i class="fa fa-trash text-danger"></i></button>
                            <!-- <button (click)="showFormDelete(item.Id)" class="btn"><i class="fa fa-trash text-danger"></i></button> -->
                        </td>
                        <swal #deleteSwal title="Delete?" text="Are you sure delete" type="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="deleteFile(item.Id)">
                        </swal>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>